<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">

    <title>Blue's Dating</title>
</head>
<body>
<div class="container-fluid main">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand text-black-50" href="#">Blues's Dating</a>
    </nav>
    <div class="card mt-4 ml-4 mr-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="card-title text-center">Blue's Dating Website</h2>
                    <p class="card-text pl-2">Welcome to the web's most successful AI powered dating website.
                        At <strong>Blue's Dating</strong>, you'll meet other like minded individuals.
                        We have the highest success rate of couples on the web. Members are matched by our award winning
                        AI, Blue, that gets to know each member on personal level, which then provides Blue with
                        confidence, introducing matching members to each other. Find out why so many couples have
                        successfully found love with Blue today!</p>
                    <div class="m-5">
                        <h4 class="text-center">Here are what our members are saying about Blue.</h4>
                        <blockquote class="blockquote border-top border-bottom">
                            <p><i>"I met the love of my life after only one month!" - Andrea</i></p>
                            <p><i>"It was so easy to setup a profile and start meeting people.
                                I didn't realize how many similar people were looking for love in my area."
                                - John Smith</i></p>
                            <p><i>"Just try it! You'll never find matches, the same again!" - Sarah</i></p>
                        </blockquote>
                    </div>
                    <div class="form-row text-center pb-3">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary">Create a Profile!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img class="bg-secondary rounded-lg w-75" src="./images/blues_logo_front_home.png" alt="Blue AI Logo">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>