<include href="views/header.html">
    <form action="#" method="post">
        <div class="card mt-4 ml-4 mr-4 p-4">
            <div class="card-body">
                <h1 class="w-100">Profile</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="email"><b>Email</b></label>
                        <div class="input-group">
                            <input class="w-100 rounded" type="text" id="email"
                                   name="email" value="{{ @email }}">
                        </div>
                        <F3:check if="{{ @errors['email'] }}">
                            <div class="err">{{ @errors['email'] }}</div>
                        </F3:check>
                        <label for="state" class="mt-4"><b>State</b></label>
                        <div class="input-group">
                            <select class="w-100" name="state" id="state">
                                <option value="default">-- Select State --</option>
                                <F3:repeat group="{{ @states }}"
                                           value="{{ @curState }}">
                                    <option value="{{ @curState }}"
                                            <F3:check if="{{ @state == @curState }}">
                                                selected
                                            </F3:check>
                                    >{{ @curState }}</option>
                                </F3:repeat>
                            </select>
                        </div>
                        <F3:check if="{{ @errors['state'] }}">
                            <div class="err">{{ @errors['state'] }}</div>
                        </F3:check>
                        <label class="mt-4"><b>Seeking</b></label>
                        <div class="input-group">
                            <div class="btn-group">
                                <F3:repeat group="{{ @partners }}"
                                           value="{{ @currPartner }}">
                                    <label class="mr-3">
                                        <input type="radio" name="partner"
                                               id="{{ strtolower(@currPartner) }}"
                                               value="{{ @currPartner }}"
                                        <F3:check if="{{ @partner == @currPartner }}">
                                            checked="checked"
                                        </F3:check>
                                        > {{ @currPartner }}
                                    </label>
                                </F3:repeat>
                            </div>
                        </div>
                        <F3:check if="{{ @errors['partner'] }}">
                            <div class="err">{{ @errors['partner'] }}</div>
                        </F3:check>
                    </div>
                    <div class="col-md-6">
                        <label for="biography"><b>Biography</b></label><br>
                        <textarea class="w-100 h-75" name="biography"
                                  id="biography">{{ @biography }}</textarea>
                    </div>
                </div>
                <div class="row align-content-end">
                    <div class="col-11 w-100"></div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <include href="views/footer.html">