<include href="views/header.html">
    <form action="./interests" method="post">
        <div class="card mt-4 ml-4 mr-4 p-4">
            <div class="card-body">
                <h1 class="w-100">Profile</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="email"><b>Email</b></label>
                        <div class="input-group mb-4">
                            <input class="w-100 rounded" type="text" id="email" name="email">
                        </div>
                        <label for="state"><b>State</b></label>
                        <div class="input-group mb-4">
                            <select class="w-100" name="state" id="state">
                                <option value="Washington">Washington</option>
                                <option value="---">---</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District of Columbia">District of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Guam">Guam</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Northern Marianas Islands">Northern Marianas Islands</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Virgin Islands">Virgin Islands</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>
                        <label><b>Seeking</b></label>
                        <div class="input-group mb-4">
                            <div class="btn-group">
                                <label>
                                    <input type="radio" name="seeking" id="male" value="Male" checked> Male
                                </label>
                                <label>
                                    <input type="radio" name="seeking" id="female" class="ml-3" value="Female"> Female
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="biography"><b>Biography</b></label><br>
                        <textarea class="w-100 h-75" name="biography" id="biography"></textarea>
                    </div>
                </div>
                <div class="row align-content-end">
                    <div class="col-11 w-100"></div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <include href="views/footer.html">